* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(33, 136, 187, 0.712);
}

main {
  background: rgb(148, 128, 128);
  height: 300vh; /* vh é view height = altura da tela ou 80% anterioemente estava usando */
  margin: 0 5%;
  padding: 5px 5px 3px 3px;
}

h1,
h2,
h3,
h4 {
  margin: 7px 0px 30px 15px;
}

p {
  line-height: 1.2;
  margin: 5px 0 0px 1%; /* superior / direita / inferior  / esquerda  */
}

figure {
  width: 50%;
  text-align: center;
}

img {
  width: 20%;
  height: 20%;
}

figcaption {
  text-align: center;
}

.estatica {
  padding-right: 50%;
}

.imagens {
  position: relative;
  left: 50%; /* para imagem subir uso Bottom: posso usar valores negativos ou inicio do body com valores positivos*/
  bottom: 100px;
  padding-right: 10%;
}

.textos {
  /* canto inferior esquerdo */
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.pai {
  position: relative;
  height: 200px;
}

.imgrelative > img {
  height: 200px;
  width: 200px;
}

.imgrelative {
  position: absolute;
  right: 24%;
  bottom: 40%;
}
