/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*/

.displays {
  width: 65%;
  height: 200px;
  background: grey;
}

span {
  padding: 15px;
  margin: 2px 0;
  background: rgba(255, 255, 255, 0.705);
  /*border-radius:50%; */
}
.bloco {
  display: block; /* aceita alterar a altura e largura do elemento */
  width: 50%;
  height: 30px;
}

.linha {
  list-style-type: none;
  width: 10%;
  height: 20px;
  background: rgba(16, 134, 202, 0.842);
  margin: 5px;
  display: inline; /* naõ consigo alterar dimensao de altura e largura, so com padding */
  padding: 2%;
  background: rgb(255, 255, 255);
}

.dois {
  padding: 5%;
  height: 80px;
}

.bloco_em_linha {
  color: white;
  text-align: center;
  list-style-type: none;
  width: 15%;
  background: rgba(16, 134, 202, 0.842);
  margin: 5px;
  display: inline-block; /*  */
  padding: 2%;
  background: green;
}
