/* {
    margin: 0px;
    padding: 0px;
}
*/
body {

    background-color: rgba(179, 176, 176, 0.322);
}

main { 
    padding: 3%;
    margin-left: 3%;
    margin-right: 10px;
    background-color: white;
}

.borda {
    border-bottom: 3px dashed black;
}

p {
  font-size: 10px;  
}

.estatica {
    font-size: 12px;
}

.relativa {
    font-size: 12px;
}

.absoluta {
    font-size: 12px;
}

.fixa {
    font-size: 10px;
}

.grade {
    width: 95%;
    font-size: 11px;
    height: 100px;
    margin-left: 8%;
    background-color: black;
    display: inline-block; /*  */
    color: white;
    overflow: scroll;
}

.seletor {
    color: rgb(236, 7, 236);
}

.propriedade {
    color: rgb(24, 226, 24)
}

.tag {
    color: rgb(17, 66, 228);
}

a, li {
    text-decoration: none;
    list-style-type: none;
}
footer {
    font-size: 17px;
    padding: 3%;
    margin-left: 3%;
    margin-right: 10px;
    background-color: rgb(147, 150, 149);
    text-align: center;  

}