* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  padding: 2%;
}

main {
  background: white;
  width: 190vh;
  height: 200vh; /* vh é view height = altura da tela ou 80% anterioemente estava usando */
  padding: 2%;
}

h1,h2,h3,h4 {
  padding-top: 15px;
  margin-left: 10px;
}

p {
 padding: 1%;
  line-height: 1.2;

}

.outrosp {
background-color: bisque;
}
.terceiro {
background-color: rgb(161, 236, 211);
}

.estatica {
  position: static;
  background-color: rgba(166, 114, 235, 0.795);
}


.relative { /*  em relaçcao ao outro elemento */
  position: relative;
  left: 300px;
  bottom: 70px ;
  background-color: rgba(241, 155, 105, 0.705);
}


.absoluto {
  position: absolute;
  left: 100px;
  background-color: rgba(233, 134, 203, 0.801);
}


.fixo {
  position: fixed;
  left: 100px;
  background-color: rgba(235, 236, 134, 0.836);
}


.stick {
  position:sticky;
  left: 400px;
  background-color: rgba(95, 98, 233, 0.829);
}
