/* FLEXBOX */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% tamanho padrao todos navegadores = 10px / se usar  100% do tamanho do navegador */
}

main {
  background: bisque;
}

article {
  width: 95%;
  height: 10rem;
  background-color: blue;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center; /* alinhamento horizontal */
  align-items: center; /* alinhamento vertical */
}

section {
  width: 50rem;
  height: 27rem;
  background-color: rgb(60, 255, 0);
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  align-items: center; /* alinhamento vertical */
  justify-content: space-evenly;
}

.ret1 {
  font-size: 5rem;
  color: black;
  width: 15%;
  height: 5rem;
  background: rgb(0, 113, 128);
  border: 2px solid rgb(255, 0, 200);
}

.ret2 {
  font-size: 5rem;
  color: black;
  width: 20%;
  height: 5rem;
  background: rgb(194, 16, 16);
  border: 2px solid rgb(166, 255, 0);
}
.ret3 {
  font-size: 5rem;
  color: black;
  width: 12%;
  height: 5rem;
  background: orange;
  border: 2px solid rgb(166, 255, 0);
}
