/* FLEXBOX */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% tamanho padrao todos navegadores = 10px / se usar  100% do tamanho do navegador */
}

main {
  padding: 30px 20px; /* (30 top e bottom ) 20 (leftt right)  */
  background: bisque;
}

.pai {
  width: 70vw;
  height: 18rem; /* 150 pixel = 15rem */
  background-color: rgb(153, 0, 255);
  display: flex; /* ativa o flexbox */
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ret {
  font-size: 2.1rem; /*  2.1rem x 10 = 21 pixels */
  color: black;
  width: 20%;
  height: 1rem; /*  5 x 10 = 50 pixels */
  background: rgba(214, 123, 38, 0.856);
  border: 0.15rem solid white; /*  0,15rem x 10 = 1,5 pixels */
}

.pai1 {
  margin-top: 170px;
  width: 60vw;
  height: 15rem; /* 150 pixel = 15rem */
  background-color: rgb(153, 0, 255);
  display: flex; /* ativa o flexbox */
  flex-direction: row;
  align-items: stretch;
  gap: 2rem;
}

.ret1 {
  font-size: 2.1rem; /*  2.1rem x 10 = 21 pixels */
  color: black;
  width: 20%;
  /*  height: 6.5rem; /*  5 x 10 = 50 pixels */
  background: rgba(214, 123, 38, 0.856);
  border: 0.15rem solid white; /*  0,15rem x 10 = 1,5 pixels */
}

.pai2 {
  margin-top: 300px;
  width: 60vw;
  height: 2.5rem; /* 150 pixel = 15rem */
  background-color: rgb(153, 0, 255);
  display: flex; /* ativa o flexbox */
  flex-direction: column;
}

.ret2 {
  font-size: 2.1rem; /*  2.1rem x 10 = 21 pixels */
  color: black;
  width: 20%;
  height: 2.3rem; /*  5 x 10 = 50 pixels */
  background: rgba(214, 123, 38, 0.856);
  border: 0.15rem solid white; /*  0,15rem x 10 = 1,5 pixels */
}
