
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* variáveis será usado em todo o documento*/ 
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; ---  quando a tela não for até o final, assim eu garanto preenchimento*/ 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}

.cabecalho {
    background-color: var(--cor-primaria); /* cor do fundo do cabeçalho */
    color: var(--cor-secundaria); /* cor do texto do cabeçalho */
    padding: 20px;
    text-align: center;
}

.cabecalho {
    padding: 2% 0 0 15%;

}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    cursor: pointer;    
    background-color: var(--cor-hover);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao {
    margin: 8% 15%;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px; /* numero esta no figma */
    display:flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}


.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
}
/* todas as cores, tamanhos estão no figma*/
.apresentacao__links__botao{
    display: flex;
    justify-content: center;
    gap:16px;
    /* background-color:  var(--cor-terciaria); */
    border: 2px solid var(--cor-terciaria);
    width: 378px; 
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;  /* 1ºverticalpx 2ºhorizontalpx, margem de cima e de baixo */
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;  /* ir no google fonts e pegar o peso da fonte */
}

.apresentacao__links__botao:hover {
    cursor: pointer;    
    background-color: var(--cor-hover);
}
 
img:hover {
    background-color: #272777;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
}